            <div class="col-md-6 col-xl-6">
                <div class="card bg-c-blue order-card hvr-grow">
                    <div class="card-block">
                        <h3 class="m-b-20">LinkedIn</h3>
                        <div class="row"><%= render partial: "layouts/social_icon" %></div>
                        <br>
                        <p class="m-b-0 boldtext">Username:<span class="f-right">@jamescavallo</span></p>
                        <p class="m-b-0 boldtext">Media Count:<span class="f-right">45</span></p>
                    </div>
                </div>
            </div>