            <div class="col-md-6 col-xl-6">
                <div class="card bg-c-blue order-card hvr-grow">
                    <div class="card-block">
                        <h3 class="m-b-20">Vouch</h3>
                        <p class="m-b-0 boldtext">@<%= @vouch.from%></p>
                        <br>
                        <p class="m-b-0 boldtext">Description: <%= @vouch.description%></p>
                        <p class="m-b-0 boldtext">Timestamp: <%= @vouch.created_at%></p>
                    </div>
                </div>
            </div>